body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.container {
  text-align: center; 
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.innerContainer {
  text-align: center; 
  padding: 20px;
  border: solid 2px #103594;
  border-radius: 10px;
  margin: 25px;
  background: #d6e8f5;
}
